.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid rgb(230, 56, 56);
  border-radius: 5px;
  padding: 5rem;
}

.deleteFoodModalBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalDescription {
  height: auto;
  margin: 0 1rem 0 0;
}

.deleteFoodButton {
  background-color: rgb(230, 56, 56);
}
.deleteFoodButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(230, 56, 56);
}
