.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h2 {
  font-size: 4rem;
}

.gif {
  height: 50vh;
  border: none;
  pointer-events: none;
  border-radius: 25px;
}
.gif:hover {
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.obamaText {
  color: #0070f3;
  margin-bottom: 2rem;
}

.errorNumber {
  color: rgb(255, 255, 255);
}
