.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #0070f3;
  border-radius: 5px;
  padding: 5rem;
}

.foodModalBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: inherit;
  justify-content: center;
  color: black;
}

.foodModalBox div {
  margin-bottom: 0.5rem;
}

.ModalDescription {
  margin-bottom: 0.5rem;
}

.foodModalBox div input {
  width: 100%;
}
