.foodCardClass {
  width: fit-content;
  margin: 0.5rem;
}
.cardActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.foodDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.moveToFoodIcon {
  display: flex;
  flex: row;
  justify-content: center;
}

.moveToFoodIcon button {
  width: 100%;
  background-color: #0070f3;
  color: white;
}

.moveToFoodIcon button:hover {
  background-color: white;
  color: #0070f3;
}

.moveToFoodIconTest {
  width: 100%;
}
