html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, rgba(33,158,251,1) 0%, rgba(255,255,255,1) 100%);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
