.header {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 8%;
  width: 100%;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.flexEnd {
  color: black;
  justify-content: flex-end;
}

.loginState {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 1rem;
  border: 3px solid white;
  border-radius: 5px;
}

.logOffButton {
  color: white;
  border: 3px solid white;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.logOffButton:hover {
  color: white;
  border: 3px solid white;
}
.hidden {
  position: absolute;
  left: -100%;
}
