.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addFoodButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.addFoodButton {
  align-self: center;
}

.addFoodButtonText {
  color: #0070f3;
}
