.main {
  min-height: 100vh;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
}

.mainGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  margin: 1rem 0;
  width: 100%;
}
.loginMainText {
  align-self: center;
  width: 70%;
  text-align: center;
  margin-bottom: 8rem;
  color: rgb(255, 255, 255);
}

.loginButton {
  display: flex;
  flex-direction: column;
}

.userName {
  width: 100%;
}
