.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selectedCard {
  border: 2px solid#0070f3;
}

.main h4,
.main h5,
.main h6 {
  margin-bottom: 0.5rem;
}
